<!DOCTYPE html>
<html lang="el">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <script src="/libs//viewerjs/dist/viewer.js"></script> -->
  <link href="/libs/froala/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/custom.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link  href="/libs/viewerjs/dist/viewer.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div class="container-fulid">

    <!-- Contact Row -->
    <div class="row mx-0 imee-blue text-white d-none">
      <div class="imee-container">
        <div class="row ">
          <div class="col-6 text-left">
            <i class="fas fa-map-marker-alt"></i>
            <span class="" style="font-size:12px;">Ερατύρας 3, Τ.Κ. 10439 Σταθμός Λαρίσης</span>
            <span class="mx-2"></span>
            <i class="fas fa-headset"></i>
            <a href="tel:00302108259660"><span class="text-white" style="font-size:12px;">+30 210 8259660</span></a>
          </div>
          <div class="col-6 text-right">
            <i class="fas fa-map-marker-alt"></i>
            <span class="" style="font-size:12px;">Λοξής Φάλαγγος 64, Τ.Κ. 32200 Θήβα</span>
            <span class="mx-2"></span>
            <i class="fas fa-headset"></i>
            <a href="tel:00302262024249"><span class="text-white" style="font-size:12px;">+30 22620 24249</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Logo Row -->
    <div class="row mx-0 p-3  text-white text-center">
      <div class="col-12 d-none d-sm-block">
        <div class="imee-container">
          <a href="/">
            <img src="/images/imee-2.png" class="img-fluid " alt="IME&E" style="height: 70px;width:auto;">
          </a>
        </div>
      </div>
      <div class="col-12">
        <div class="imee-container d-block d-sm-none">
          <a href="/">
            <img src="/images/imee-logo-min.png" class="img-fluid " alt="IME&E" style="height: 50px;width:auto;">
          </a>
        </div>
      </div>
    </div>

    <!--  Navigation Row -->
    <div class="row mx-0 imee-light-grey font-weight-bold" id="imee-nav-row">
      <div class="imee-container">
        <div class="row mx-0" role="tablist">
          <div class="col-2 col-sm-3 px-0 text-center text-nowrap imee-nav-link imee-resp-font">
            <a class="nav-link py-3 px-0 imee-text-blue text-truncate" href="/" role="tab" aria-selected="true">ΑΡΧΙΚΗ</a>
          </div>
          <div class="col-4 col-sm-3 px-0 text-center text-nowrap imee-nav-link imee-resp-font" id="imee-prog">
            <a class="nav-link py-3 px-0 imee-text-blue text-truncate" href="/programs">ΠΡΟΓΡΑΜΜΑΤΑ</a>
          </div>
          <div class="col-3 col-sm-3 px-0 text-center text-nowrap imee-nav-link imee-resp-font">
            <a class="nav-link py-3 px-0 imee-text-blue text-truncate" href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a>
          </div>
          <div class="col-3 col-sm-3 px-0 text-center text-nowrap imee-nav-link imee-resp-font">
            <a class="nav-link py-3 px-0 imee-text-blue text-truncate" href="/foreas">Ο ΦΟΡΕΑΣ</a>
          </div>
          <div class="w-100"></div>
          <div class="row w-100 " id="imee-mega-nav">
            <div class="col-12 d-none d-lg-block">
              <!-- Mega Nav  -->
              <div class="row mx-0 position-absolute p-3 border-top-0 shadow bg-white" style="z-index:1000; width:90%; left:5%;">
                <div class="col-12" style="height:350px;">
                  <div class="row mx-0 py-4 h-100 justify-content-around">
                    <div class="col-3 pl-4 border-right ">
                      <div class="row mx-0">
                        <div class="col-12 py-3">
                          <h5 class="imee-text-black font-weight-bold ">
                            ΣΕΜΙΝΑΡΙΑ
                          </h5>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Τεχνικοί Ασφαλείας
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Ασφάλεια Τροφίμων
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Εκπαιδευτές
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Πληροφορικής
                          </h6>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 pl-4 border-right ">
                      <div class="row mx-0">
                        <div class="col-12 py-3">
                          <h5 class="imee-text-black font-weight-bold ">
                            ΠΡΟΓΡΑΜΜΑΤΑ
                          </h5>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Εργαζόμενοι
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Άνεργοι
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            Επιχειρήσεις
                          </h6>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 pl-4 border-right ">
                      <div class="row mx-0">
                        <div class="col-12 py-3">
                          <h5 class="imee-text-black font-weight-bold ">
                            VOUCHERS
                          </h5>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            18 - 24
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            24 - 29
                          </h6>
                          </a>
                        </div>
                        <div class="col-12 py-1">
                          <a href="#">
                            <h6 class="imee-text-black font-weight-normal ">
                            29 - 64
                          </h6>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 pl-4  ">
                      <div class="row mx-0">
                        <div class="col-12">
                          <h3 class="imee-text-black">
                            <div class="col-12 py-3">
                              <h5 class="imee-text-black font-weight-bold ">
                                ΔΗΜΟΦΙΛΕΣ
                              </h5>
                            </div>
                            <div class="col-12 py-1">
                                <a href="#">
                              <div class="row mx-0 border">
                                <div class="col-12 p-0">
                                  <img src="/images/worker.jpg" class="img-thumbnail" alt="Featured">
                                </div>
                                <div class="col-12 imee-light-grey text-center ">
                                  <h6 class="imee-text-black font-weight-normal ">
                                    Σεμινάριο Τεχνικών
                                  </h6>
                                </div>
                              </div>
                              </a>
                            </div>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Mega Nav  -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="imee-container"> -->


    {{{body}}}

    <!-- </div> -->
  </div>

<!-- Footer -->
  <div class="row mx-0 imee-heavier-grey text-white">
    <div class="imee-container">
      <div class="row py-3">
        <div class="col-4">
          <div class="row mx-0">
            <div class="col-12 py-2">
              <h6>ΤΙΤΛΟΣ</h6>
            </div>
            <div class="col-12">
              Τάδε α
            </div>
            <div class="col-12">
              Τάδε β
            </div>
            <div class="col-12">
              Τάδε γ
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mx-0">
            <div class="col-12 py-2">
              <h6>ΤΙΤΛΟΣ</h6>
            </div>
            <div class="col-12">
              Τάδε α
            </div>
            <div class="col-12">
              Τάδε β
            </div>
            <div class="col-12">
              Τάδε γ
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mx-0">
            <div class="col-12 py-2">
              <h6>ΤΤΙΤΛΟΣ</h6>
            </div>
            <div class="col-12">
              Τάδε α
            </div>
            <div class="col-12">
              Τάδε β
            </div>
            <div class="col-12">
              Τάδε γ
            </div>
          </div>
        </div>
      </div>
    </div>


</body>

</html>
